[DEFAULT]
bantime = {{ fail2ban_default_bantime }}
banaction = {{ fail2ban_default_banaction }}

findtime = {{ fail2ban_default_findtime }}
maxretry = {{ fail2ban_default_maxretry }}

{% for jail in fail2ban_jails %}
[{{ jail }}]
enabled = true
{% endfor %}

